{{#each items as |item|}}
<div class="creating">
<p> ID: {{item.id}} </p>
  <p> Name: {{item.name}} </p>
    <p> Description: {{item.description}} </p>
      <p> Color: {{item.color}} </p>
        <p> Season: {{item.season}} </p>
          <p> Status: {{item.status}} </p><br>
</div>
{{/each}}
