{{#each items as |item|}}

<div class="creating">
  <!-- <script id="template" type="text/x-handlebars-template"> -->
<p>HEY SWEETIE! this is {{item.name}}. I'm {{item.description}} , I'm {{item.color}} , you can wear me during {{item.season}} , but please, don't matter my {{item.status}} status, if you keep take care of me and if you don't, please reuse me.</p>

<p> This is your item ID: {{item.id}}

</div>



{{/each}}
